
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
    padding: 30px;
}

 .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    background: #fff;
    text-align: center;
position: relative;
    background-size: cover;
    background-position: center;
    min-height: 100px;
    width: 100%;

    height: 330px;
    transition: .5s;
    overflow: hidden;

}


.product-image {
width: 100%;
height: 300px; /* Adjust height as needed */
background-image: url('images/box-img1.webp');
background-size: cover;
background-position: center;
}



 .box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

 .box-container .box p{
    color:#777;
    position: relative;
    font-size: 25px;
    line-height: 1.8;
    text-align: center;
    top:87%
}
.box-container .box button{
    color:#ffffff;
    background-color: black;
    opacity: 0;
    position: relative;
    font-size: 20px;
    line-height: 2;
position: relative;
    text-align: center;
    transition: .5s;
    width: 150px;
    border-radius: 10px;
    border: none;
    top:90%;
    transform: translateY(50px);

    
}
.box-container .box:hover button{

    opacity: 1;
    z-index: 100;
    transform: translateY(-100px);
}
.box-container .box:hover button:hover{
    
  color: black;
  background-color: white;
  transform:  translateY(-100px) scale(1.1);

}
 .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

 .box-container .box .btn:hover{
    letter-spacing: 1px;
}

 .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}




    .accordion {
        width: 100%;
        max-width: 100%;
        background: rgba(196, 196, 196, 0.656);
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .accordion-header {

        display: flex;
        justify-content:center;
        padding: 10px;
        border-radius: 10px;
        padding-left: 100px;
        padding-right: 100px;

    }

    .accordion-header button {
        background: none;
        border: none;
        font-size: 20px;
        padding: 10px 30px;
        cursor: pointer;
    }

    .accordion-header button.active {
        background: rgba(126, 122, 122, 0.662);
        color: rgb(0, 0, 0);
        border-radius: 20px;
        padding: 10px 30px;
    }

    .accordion-content {
        display: none;
        text-align: center;
        padding: 20px;
    
    }


    .accordion-content img {
        width: 100%;
        max-width: 200px;
        border-radius: 10px;
    }

    .show {
        display: block;
    }
    @media screen and (max-width: 1000px) {
        .accordion-header {
justify-content: center;
border-radius: 10px;
padding: 3px;
}

.accordion-header button {
font-size: 16px;
border-radius: 0px;
padding: 10px 25px;
}
.accordion-header {
padding: 10px 15px;

}


.accordion-header button.active {
        border-radius: 10px;
        padding: 10px 25px;
    }

    .box-container .box p{
        font-size: 24px;
    }
    

        
    }

    @media screen and (max-width: 675px) {
        .accordion-header {
justify-content: center;
border-radius: 10px;
padding: 3px;
}

.accordion-header button {
font-size: 13px;
border-radius: 0px;
padding: 10px 10px;

}
.accordion-header {
padding: 10px 0px;

}


.accordion-header button.active {
        color: rgb(0, 0, 0);
        border-radius: 10px;
        padding: 10px 10px;
    }




.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap:15px;
    padding: 6px;
}

 .box-container .box{
    min-height: 50px;
    width: 100%;
    height: 250px;

}

.product-image {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
    }

        
    }


    /* change image */

    .MainABC{
        position: relative;
          height: 95%;
          width: 350px;
        transition: .6s;
      }
      
  .loding{

    position: absolute;
    top: 20px;
    width: 0%;
    height: 5px;
    left: 5%;
    background-color: rgba(255, 255, 255, 0.419);
    border-radius: 2px;

}
  
  .box:hover .loding{
    animation: ABC1 2s linear infinite;
  }
  @keyframes ABC1{
    0%{
    left: 5%;
  
      width: 0%;
    }
    100%{
    left: 5%;

      width: 90%;
    }
  }
  
      .ABC{
        position: absolute;
          background-size: cover;
          background-position: center;
          position: absolute;
  height: 90%;
  width: 100%;
  
  display: none;
      }
       .active{
  display: block;
      }