

.stats-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: rgba(203, 201, 201, 0.617);
    padding: 40px;
    width: 100%;
    flex-wrap: wrap;
    margin: 30px 0px;
}

.stat {
    text-align: center;
    flex: 1;
    min-width: 150px;
    color: black;
}


.number {
    font-size: 45px;
    font-weight: bold;
    color: #000000;
    padding-bottom: 10px;
}

.text {
    font-size: 16px;
    color: black;

}

/* Responsive Design */
@media (max-width: 768px) {
    .stats-container {
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 30px;
        width: 100%;
    }

    .number {
        font-size: 35px;
    }

    .text {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .number {
        font-size: 30px;
    }

    .text {
        font-size: 13px;
    }
}