
/* Carousel Effect in Header */

.lambo-carousel{ 
    
/* background-color: red; */
    width: 100%;
    height: 700px;
}

.carousel{
    position: absolute;
    /* background-color: red; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-image: url(../img/main.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;

    /* background-position: center; */
}



.carousel:nth-child(2){
    background-image: url(..img/main.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: -1;
}

.carousel:nth-child(3){
    background-image: url(../img/img1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;







    z-index: -1;
}

.carousel .title{
    top: 15%;
    left: 10%;
    position:absolute;
    color: #fff;
    font-size: 100px;
    text-transform: uppercase;
    opacity: 0;
    
}

.btn{
    opacity: 0;
    width: 150px;
    height: 40px;
    margin-top: 20px;
    background: none;
    color: #fff;
    background: #000;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    text-align: left;
    padding-left: 30px;
    position:absolute;
    border:none;
    clip-path: polygon(0 0, 82% 0,100% 100%,0% 100%);

    top: 400px;
    left: 10%;
    

}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(xbtn.png);
    background-size: 100% 100%;
}

.btn:hover{
    background:#fff;
    color: #000;
}

.carousel.active{
    z-index: 2;
}

.carousel.active .title,
.carousel.active .btn{
    opacity:0;
    animation: fade-up 1s forwards 1;
}

@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateX(-50px);    
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@media screen and (max-width: 800px) {
    .carousel .title{
        
        display: none;

    }
   

    .btn{
    display: none;
    
    }
  
}

