
.fotter-container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	width: 60%;
	background-color: #000000;
    padding: 70px 0;
}
.footer-col{
	margin-top: 20px;
   width: 50%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 22px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	
}
/* tfyghuj */
.footer-col ul li a span {
	position: relative;
	transition: margin .4s;
  }
  
  .footer-col ul li a:hover i {
	opacity: 1;
	visibility: visible;
  }

  .footer-col ul li a span::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 0;
	height: 2px;
	background-color: var(--white-color);
	transition: width .2s ease-out;
  }
  
  /* Animation link on hover */
  
  
  
  
  .footer-col ul li a:hover span::after {
	width: 100%;
  }



  /* tyguhij */
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}






/* form */



.form-container{
	width: 40%;
	min-height: 80vh;
	justify-content: center;
	align-items: center;
	float: right;
	background-color: white;
	
}

 section.right .messageForm{

	padding: 0px 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 30px;
}
 section.right .inputGroup{
	margin: 18px 0px;
	position: relative;
}

.messageForm .fullWidth{
	flex-basis: 100%;
}
.messageForm input, .messageForm textarea{
	width: 100%;
	font-size: 18px;
	padding: 2px 0px;
	color: #ddd;
	border: none;
	border-bottom: 2px solid #000000;
	outline: none;
}
.messageForm textarea{
	resize: none;
	height: 90px;
	display: block;
}
textarea::-webkit-scrollbar{
	width: 5px;
}
textarea::-webkit-scrollbar-track{
	background-color: #1e1e1e;
	border-radius: 15px;
}
textarea::-webkit-scrollbar-thumb{
	background-color: rgb(255, 255, 255);
	border-radius: 15px;
}
.inputGroup label{
	position: absolute;
	left: 0;
	bottom: 4px;
	color: #000000;
	font-size: 18px;
	transition: 0.4s;
	pointer-events: none;
}
.inputGroup:nth-child(4) label{
	top: 2px;
}
.inputGroup input:focus ~ label, .inputGroup textarea:focus ~ label,
.inputGroup input:valid ~ label, .inputGroup textarea:valid ~ label
{
	transform: translateY(-30px);
	font-size: 16px;
}
.inputGroup button{
	padding: 8px 16px;
	font-size: 18px;
	background-color: rgb(255, 255, 255);
	color: #000000;
	border: 1px solid transparent;
	border-radius: 25px;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	transition: 0.4s;
}
.inputGroup button:hover{
	background-color: #2e2e2e;
	color: gray;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid rgb(0, 0, 0);
}
/*responsive*/
@media(max-width: 767px){
	.footer{
		width: 100%;
	}
	
.form-container{
	width: 100%;
	float: left;
	padding-bottom: 50px;

}
.inputGroup label{
	color: #000000;

}

  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
.messageForm input, .messageForm textarea{
	background-color: rgb(255, 255, 255);
	border-bottom: rgb(0, 0, 0) 1px solid;
}
}
@media(max-width: 574px){
	.footer{
		width: 100%;
	}
  .footer-col{
    width: 100%;
}
}

