
body {
    background-color: rgba(203, 201, 201, 0.617);
    font-family: "Montserrat Alternates", "sans-serif" ;
    margin: 0;
    padding: 0;
}
.container {
    margin-top:70px ;
    width: 90%;
    max-width: 1200px;

    transition: 0.5s;
}

.shoppingCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.shopping {
    position: relative;
    text-align: right;
}
.shopping img {
    width: 40px;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}
.list .item {
    text-align: center;
    background-color: #DCE0E1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0px;

    height: 302px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    transition: .5s;
}
.list .item:hover {
    /* height: 350px; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
    border-radius: 0px;
    transform: scale(1.04);
}
.list .item img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}
.list .item .title {
    font-weight: 600;
    padding: 10px;
}
.list .item .price {
    padding: 10px;

}
.list .item button {
    background-color: #1C1F25;
    color: #fff;
    padding: 14px 24px;
    border: none;
    cursor: pointer;
    transform: translateY(0px);
    border-radius: 10px;
    transition: .4s;

}
.list .item:hover button {
    transform: translateY(-100px);
}
.list .item:hover button:hover {
    transform: translateY(-100px) scale(1.1);
    color: black;
    background-color: white;
}
.card {
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    max-width: 400px;
    background-color:grey;
    height: 100vh;
    transition: 0.5s;
    overflow-y: auto;
}
.active .card {
    right: 0;
   
}
.card h1 {
    color: #000000;
    font-size: 40px;
    padding: 20px 20px 0px 20px;
}
.card .checkOut {
 
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.card .checkOut div {
    background-color: #ffffff;
    width: 50%;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2) {
    background-color: #1C1F25;
    color: #fff;
}
.listCard li{
display: grid;
grid-template-columns: 100px repeat(3, 1fr);
color: #fff;
row-gap: 5px;
}
.listCard li div{
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0px;

}

.listCard li img{
width: 100%;


}
.listCard li button{
background-color: #fff5;
border: none;
}
.listCard .count{
margin: 0 10px;
}
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    .list {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    .card {
        width: 100%;
        max-width: 100%;
    }
}