/* Google fonts link */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

      
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(170, 12%, 98%);
  --gray-color: hsl(0, 0%, 100%);
  --black-color: hwb(0 0% 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Bona Nova", serif;
  --normal-font-size: .938rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/




a {
  text-decoration: none;
}


/*=============== CARD ===============*/
.container {
    align-content: center;
  position: relative;
background-color: rgba(203, 201, 201, 0.617);
  height: 530px;
  display: grid;
  margin-inline: 1.5rem;
  padding-block: 5rem;
  padding-bottom: 20px;
}

.card__article {
  /* box-sizing: border-box; */
 height: 300px;
  position: relative;
  border-radius: 5px;
  padding: 3rem .5rem 1.5rem;
  display: grid;
  row-gap: 1rem;
  transition: background-color .6s;

}

.card__data {
position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: transform 1s, opacity .4s;
}

.card__title {
margin-top: 310px;    
font-size: 25px;
font-weight: 400;
 z-index: 15;
align-content: center;
margin-left: 0px

}

.card__bg {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
  object-position: center;
  transform: scale(1);
  transition: transform 1s;
}

.card__button {


left: calc(50% - 65px);    
  background-color: black;
  color: white;

  width: 130px;
  height: 50px;
  padding: .75rem 1rem;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  justify-self: center;
  box-shadow: 0 8px 24px hsla(0, 0%, 100%, 0.1);
  position: absolute;
  bottom: -1.5rem;
  border-radius: 10px ;
  opacity: 0;
  transition: transform .3s, opacity .4s;
  z-index: 100;


}


.card__button:hover i {
  transform: translateX(.5rem);

}


.card__article:hover .card__data {
  transform: translateY(.8rem);


}


.card__article:hover .card__bg {
  transform: scale(1.05);
}


.card__article:hover .card__button {
  transform: translateY(-5.75rem);
  opacity: 1;
  pointer-events: initial;
}
.card__article:hover .card__button:hover {
   
  transform: translateY(-5.75rem)  scale(1.1);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.card__article:hover .card__button:hover ~ .card__title{
padding-left: 40px;
}
   



/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {

  .container {
    margin-inline: 1rem;
  }

  .card__container {
    grid-template-columns: 1fr;
  }
}

/* For large devices */
@media screen and (min-width: 1400px) {
  .container {
    height: 100vh;
    display: grid;
    align-items: center;
  }


}



.slider-wrapper {
  height: 400px;
  overflow: hidden;
  max-width: 1300px;
  margin: 0 70px 0px;
}

.slider-wrapper .swiper-pagination-bullet {
  background: #000000;
  width: 15px;
  height: 15px;
  left: 0px;
}

.slider-wrapper .swiper-slider-button {
  position: absolute;
  top:270px;
  color: #0000006e;
  transition: 0.3s ease;
}

.slider-wrapper .swiper-slider-button:hover {
  color: #000000;
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }

  .slider-wrapper .swiper-slider-button {
    width: 10px;
    height: 10px;
    margin-left: 20px;
    margin-right: 20px;
  top: 500px;
  }
}
